.books_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 10px;
  background-color: #fff;
  padding: 5rem;
}

/* ........Desktop & Laptop Responsive........... */
/* .............................................. */
@media only screen and (min-width: 821px) {
  .books_container {
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
  }
}
@media only screen and (width: 1024px) {
}
/* ..................................... */
/* ...................................... */

/* ........Tablet & Pad Responsive........... */
/* ......................................... */
@media only screen and (min-width: 768px) and (max-width: 820px) {
}
/* ..................................... */
/* ...................................... */
